<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-info">
      <p>&copy; {{ currentYear }} {{ appName }}. Progetto Universitario.</p>
      <p class="version">Versione {{ version }}</p>
    </div>
    
    <div class="footer-links">
      <a href="#" mat-button size="small">Privacy</a>
      <a href="#" mat-button size="small">Termini</a>
      <a href="#" mat-button size="small">Supporto</a>
      <a href="#" mat-button size="small">GitHub</a>
    </div>
  </div>
</footer>